
<div class="container">
  <h1>Result</h1>
  <div class="row">
    <% if @include == true %>
      <% if @api_call == true %>
        <p><%= "Congratulations! #{params[:answer]} is a valid English word!" %></p>
      <% else %>
      <p><%= "Sorry but #{params[:answer]} does not seem to be a valid english word..." %></p>
      <% end %>
    <% else %>
      <p><%= "Sorry, but answer cant be build out of #{ @letters}" %></p>
    <% end %>
  </div>
  <%= link_to "New game", new_path %>
</div>
